@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway&display=swap');
@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/modern-normalize/modern-normalize.css";
@import "../node_modules/devicon/devicon.css";

$title-font:    'Montserrat', sans-serif;
$body-font: 'Raleway', sans-serif;

$primary-color: #1f3e50;
$secondary-color: #0D2F42;

$highlight-color: #ee6123;


*{
  font-family: $body-font;
  line-height: 1.5;
  text-align: justify;
}

.animate{
  opacity: 0;
}

.animate.fade{
  animation-name: fade-in;
  animation-duration: 5s;
  opacity: 1;
}

@keyframes fade-in {
  0%   {opacity: 0}
  100% {opacity: 1}
}

#header-section{
  height: 100vh;
  background-color: $primary-color;
}

#header-section-title{
  color: white;
  font-family: $title-font;
  font-weight: 400;
  font-size: 100px;
  text-align: right;
  margin-right: 50px;
  padding-top: 100px;
  animation: flyin-right  1s ease-out;
}

#header-section-subtitle{
  color: #9ba8b0;
  font-family: $title-font;
  font-weight: 400;
  font-size: 40px;
  text-align: right;
  margin-right: 50px;
  border-bottom: 5px solid $highlight-color;
  position: relative;
  animation: flyin-bottom  1s ease-out;
}

@keyframes flyin-bottom {
 0%   {
 -moz-transform: translateX(300%); /* Firefox bug fix */
 -webkit-transform: translateX(300%); /* Firefox bug fix */
 transform: translateY(300%);
 }
 100% {
 -moz-transform: translateX(0%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateY(0%);
 }
}

@keyframes flyin-right {
 0%   {
 -moz-transform: translateX(300%); /* Firefox bug fix */
 -webkit-transform: translateX(300%); /* Firefox bug fix */
 transform: translateX(50%);
 }
 100% {
 -moz-transform: translateX(0%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%);
 }
}

#header-section-subtitle::after {
            content: '';
            display: block;
            position: absolute;
            width: 400px;
            bottom: -5px;
            left: 0px;
            border: 5px solid $primary-color;
        }

.section-title{
  font-family: $title-font;
  font-size: 60px;
  color: white;
  margin-bottom: 50px;
}

#about-me-title{
  color: $secondary-color;
}

.section-title>span{
  color: $highlight-color;
}

#about-me-p{
  font-family: $body-font;
  margin-bottom: 50px;
  font-size: 20px;
}

.skills-icons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-icon-wrapper{
  margin: 40px;
  text-align: center;
}

.skills-icon-wrapper>p{
  text-align: center;
  color: $highlight-color;
  font-family: $title-font;
}

i{
  color: $highlight-color;
  font-size: 4em;
}

#projects-section{
  background-color: $secondary-color;
}

.projects-container{
  margin: 0 auto;
  width: 80vw;
}

.project-column{
  height: 300px;
  margin: 40px;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 10px;
}

.project-title {
  font-family: $title-font;
  text-align: center;
  font-weight: 600;
}

#pacman-img{
  background-image: url('/assets/pacman.png');
}

#moviedb-img{
  background-image: url('/assets/moviedb.png');
}

#eventup-img{
  background-image: url('/assets/eventup.png');
}

#hiddengem-img{
  background-image: url('/assets/hiddengem.png');
}

.column.project-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-buttons{
  display: flex;
  justify-content: space-around;
}

button{
  background-color: $secondary-color;
  border: white 1px solid;
  border-radius: 3px;
  width: 135px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  color: white;
}

button:hover{
  color: $highlight-color;
  border-color: $highlight-color;
}

button>i{
  font-size: 20px;
  color: inherit;
}

button>div{
  text-align: left;
}

#contact-section {
  background-color: $primary-color;
  color: white;
}

#contact-section img{
  border-radius: 50%;
  max-width: 70%;
}

#contact-title{
  margin-bottom: 0px;
}

#contact-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media only screen and (min-width: 1024px) {
  .project-reverse {
      flex-direction: row-reverse;
  }

  #projects-container {
    max-width: 90vw;
  }
}

// @media only screen and (max-width: 1024px) {
//   #projects-container {
//
//   }
// }
